body {
    font-family: "Inter", sans-serif;
    background-color: #111827;
}

.main-contents {
    background-color: #1f2937;
    padding: 52px;
    max-width: 600px;
    min-width: 200px;
    margin-top: 50px;
    margin-left:auto;
    margin-right: auto;
    border-radius: 20px;
}

.headerTitle {
    font-weight: 800;
    color: white;
    font-size: 40px;
}

.headerSubtitle {
    font-weight: 400;
    color: #D5D4D8;
    font-size: 20px;
}

.ranpass {
    color: #FBBF24;
}

.passConfigHeader {
    color: #F0F0F0;
    font-weight: 700;
    font-size: 20px;
}

.instruct {
    color: #D5D4D8;
    font-size: 16px;
}

.toggleCheckbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.boxCheck {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #334762;
    border-radius: 6px;
        transition: background-color 0.1s ease-in 10ms;
}

.toggleCheckbox:hover input ~ .checkmark {
  background-color: #4F6C95;
}

.toggleCheckbox input:checked ~ .checkmark {
  background-color: #FBBF24;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.toggleCheckbox input:checked ~ .checkmark:after {
  display: block;
}

.toggleCheckbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #263448;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#lengthInput {
    background-color: #334762;
    color: #D5D4D8;
    border: none;
    border-radius: 6px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    padding: 5px;
    font-size: 14px;
        transition: background-color 0.1s ease-in 10ms; 
}
#lengthInput:focus {
    background-color: #4F6C95;
}
::placeholder {
    color: #D5D4D8;
    opacity: 70%
}

button {
    background-color: #F59E0B;
    color: white;
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: 600;
        transition: background-color 0.2s ease-in 10ms;
}

button:hover {
    background-color: #c27d08;
}

#generateBtn {
    margin: 19px 0 17px 0;
}

.generated-area {
    display: flex;
}

.passGroup {
    display: block;
}

.passwords {
    background-color: #273549;
    color: #FBBF24;
    padding: 10px;
    border-radius: 6px;
    min-width: 273px;
    min-height: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
}

#passGroup1 {
    margin-right: 6px;
}
#passGroup2 {
    margin-left: 6px;
}

.solid {
    border: 1px solid #2F3E53
}

#copied-toast {
    visibility: hidden; 
    min-width: 250px;
    margin-left: -125px; 
    background-color: #273549;
    color: #fff; 
    text-align: center; 
    border-radius: 10px; 
    padding: 16px;
    position: fixed; 
    z-index: 1; 
    left: 50%; 
    bottom: 30px; 
}
  
#copied-toast.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}